:root {
  --brand-color: #212121;
  --second-color: #ffffff;
  --active-color: #2196f3;
  --description-color: #757575;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --grey-line-color: #eeeeee;
  --social-links-color: #afb1b8;
  --circle-background-color: rgba(255, 255, 255, 0.1);
  --blue-color: rgba(33, 150, 243, 1);
  --second-blue-color: rgba(33, 150, 243, 0.9);
  --what-we-do-bg-color: rgba(47, 48, 58, 0.8);
  --what-we-do-words-color: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-contacts {
  text-decoration: none;
  color: var(--description-color);
  display: flex;
  margin-left: 27px;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
}

.header-contacts:hover .header-contacts-number {
  padding-left: 50px;
}

.footer-contacts {
  text-decoration: none;
  color: var(--description-color);

  font-weight: 500;
  font-size: 14px;
}

.main-contacts {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header-contacts:hover,
.header-contacts:active,
.header-contacts:focus,
.footer-contacts:hover,
.footer-contacts:active,
.footer-contacts:focus {
  color: var(--active-color);
}

body {
  font-family: "Roboto", "Raleway", sans-serif;

  color: var(--brand-color, black);
  background: var(--second-color, white);
  margin: auto;

  width: 1600px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
  color: var(--brand-color, black);
  font-weight: 700;
  font-size: 26px;
}

.highlight {
  color: var(--active-color);
}

.header-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color);
  text-decoration: none;
  transition: color 250ms;
}

.active::after {
  content: "";
  display: block;
  border: 2px solid var(--active-color);
  margin-top: 28px;
  border-radius: 2px;
}

.header-links:hover,
.header-links:focus {
  color: var(--blue-color);
  text-decoration: none;
}

.header-links:hover,
.header-links:focus,
.header-links:active {
  color: var(--blue-color);
}

.footer {
  background-color: var(--second-background-color);
  padding-left: 15px;
  padding-right: 15px;
}

.footer-color {
  color: var(--second-color, white);
}

.address {
  color: var(--second-color, white);
  line-height: 1.71;
}

button:hover,
button:active,
button:focus {
  color: var(--second-color, white);
  background-color: var(--active-color);
}

.address {
  font-style: normal;

  font-size: 14px;
}

.addres-company {
  font-style: normal;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  padding-top: 20px;
}

.images-description-main {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.content-keyword {
  color: var(--description-color);

  line-height: 1.875;
  font-size: 16px;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;

  line-height: 1.625;
  color: var(--brand-color, black);
  border: var(--third-background-color);
  font-weight: 500;
  font-size: 16px;
}

.portfolio-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.main-title-web {
  display: block;
  margin: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;

  text-align: center;
}

.main-text-content {
  display: block;
  text-align: center;

  padding: 200px 0;
}

.title-page {
  color: var(--second-color, white);

  font-weight: 900;
  font-size: 44px;
}

.button-main-page {
  background-color: var(--active-color);

  cursor: pointer;
  line-height: 1.875;
  color: var(--brand-color, black);
  border: none var(--third-background-color);
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
  border-radius: 4px;

  padding: 10px 41px 10px 42px;
  margin-top: 30px;
}

.style-button-main-page {
  color: var(--second-color, white);

  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
}

.style-button-main-page:hover {
  cursor: pointer;
}

.title-profile {
  line-height: 1.36;
  font-weight: 700;
  color: var(--brand-color, black);
  font-size: 14px;
}

.profile-content {
  line-height: 1.71;
  padding-top: 10px;
  color: var(--description-color);
  font-size: 14px;
}

.about-us {
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
  line-height: 1.17;
}

.our-team {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto";
  padding-top: 94px;
  line-height: 1.17;
}

.workers {
  background-color: var(--third-background-color);
  margin-top: 94px;
}

.workers-list {
  margin: 0;
  padding: 0;
  background-color: var(--second-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team-section {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 94px;
}

.first-name {
  font-size: 16px;
  font-weight: 500;
  padding-top: 30px;
  text-align: center;
}

.proffesion {
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  color: var(--description-color);
}

.navigation-links {
  list-style-type: none;
  display: flex;
  gap: 46px;
}

.none-decoration-ul {
  list-style-type: none;
  line-height: 1.71;
}

.text-decoration {
  font-weight: 500;
  font-size: 16px;
}

h1 h2 h3 h4 h5 h6 p ul {
  display: block;
  margin: 0;
}

.navigation-contacts {
  list-style-type: none;
  display: flex;
}

.header {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button-list {
  list-style-type: none;
  display: flex;
  gap: 8px;
  padding-top: 94px;
}

.header-border {
  border: 1px solid var(--grey-line-color);
}

.project-list-style {
  list-style-type: none;
  display: flex;
  margin-top: 84px;
  flex-wrap: wrap;
  gap: 30px;

  margin-bottom: 94px;
  justify-content: space-around;
  row-gap: 30px;
}

.project-list-child {
  background: var(--second-color);
}

.project-list-child:hover .text-box {
  transform: translateX(0);
  background-color: var(--first-color);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: ease-in 250ms;
}

.text-portfolio {
  background-color: var(--blue-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding: 49px 45px 49px 24px;
  margin: 0%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.contacts-pack {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding-top: 24px;
}

.padding-links-header {
  display: inline-flex;

  gap: 46px;
  margin-left: 93px;
  margin-right: 345px;
}

.footer-navigation {
  padding-top: 60px;
}

.footer-contacts-mail {
  padding-top: 9px;
}

.footer-contacts-number {
  padding-top: 9px;
  padding-bottom: 60px;
}

.short-description {
  padding-top: 94px;
}

.description-lorem-ipsum {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-page-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.extra-padding-portfolio {
  padding: 20px 24px;
  border-bottom: 1px solid var(--grey-line-color);
  border-left: 1px solid var(--grey-line-color);
  border-right: 1px solid var(--grey-line-color);
}

.center-name {
  padding-bottom: 16px;
  line-height: 1.17;
}

.icon-main-page {
  display: flex;
  background-color: var(--third-background-color);
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 102.34px;
  padding-right: 102.34px;
  border-radius: 4px;
}

.image-offline {
  display: block;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  fill: var(--description-color);
}

.header-contacts:hover .nav-icon {
  fill: var(--blue-color);
}

.workers-social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.not-dot {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-icon-workers {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon-workers:hover {
  background-color: var(--blue-color);
  cursor: pointer;
}

.portfolio-overlay:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.social-icon-workers:hover svg {
  fill: var(--second-color);
}

.social-icon {
  fill: var(--social-links-color);
  height: 20px;
  width: 20px;
}

.our-clients-icon {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto";
  padding-top: 94px;
  line-height: 1.17;
  padding-bottom: 50px;
}

.clients-social-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients-box {
  height: 92px;
  width: 170px;
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 94px;
}

.clients-box:hover svg {
  fill: var(--blue-color);
}

.clients-box:hover {
  border: 1px solid var(--blue-color);
}

.client-icons {
  fill: var(--social-links-color);
  width: 106px;
  height: 60px;
}

.footer-info {
  display: flex;
  gap: 70px;
}

.join-us-footer {
  font-size: 14px;
  font-weight: 700;

  color: var(--second-color);
}

.social-icon-footer {
  background-color: var(--circle-background-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.social-icon-footer:hover {
  background-color: var(--blue-color);
}

.social-icon-footer:hover svg {
  fill: var(--second-color);
}

.social-icon:hover {
  fill: var(--second-color);
}

.nav-icon:hover {
  fill: var(--blue-color);
}

.padding-workers {
  padding-bottom: 30px;
}

.what-we-do {
  position: relative;
}

.what-we-do-center {
  position: absolute;
  display: flex;
  width: 370px;
  height: 70px;
  top: 224px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--what-we-do-words-color);
  background: var(--what-we-do-bg-color);
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 500ms linear, visibility 500ms linear,
    opacity 500ms linear;
}

.is-hidden {
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--what-we-do-words-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--what-we-do-words-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}
